{% extends "base_generic.html" %}
{% block content %}

<style>
div.row{
    text-align: center;
}
div.login{
    text-align: center;
    background-color:#F9F9F9;
    border: 2px solid #00587c;
}
</style>



<div class="container-fluid">
    <div class="row">
        <h1 style="color:#00587c;">Login</h1>
        <hr />
    </div>

    <div class="row">
        <div class="login col-md-offset-3 col-md-6">
            {% if form.errors %}
                <br>
                <strong><p class="alert alert-warning" style="color:red;" >Your username and password didn't match. Please try again.</p></strong>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <br>
                    <strong><p class="alert alert-warning">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p></strong>
                {% else %}
                    <br>
                    <strong><p class="alert alert-warning">Please login to see this page.</p></strong>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                
                <div>
                    <br>
                    <td><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ form.username.label_tag }}&nbsp;&nbsp;</td>
                    <td>{{ form.username }}</td>
                </div>
                
                <div>
                    <br>
                    <td><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;{{ form.password.label_tag }}&nbsp;&nbsp;</td>
                    <td>{{ form.password }}</td>
                </div>

                <div>
                    <br>
                    <input type="submit" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                    <br><br>
                </div>
            
            </form>
        </div>
    </div>


</div>
{% endblock %}

