{% extends "base_generic.html" %}

{% block content %}
  <div class="jumbotron">
    <h1> Cart </h1>
  </div>

  {% if owned_books %}
    {% for book in owned_books %}
      <p><a class="btn btn-danger" role="button" style="margin-right:10px;" href={% url 'remove-from-cart' book.id %}>Remove From Cart </a>{{ book }} (${{ book.price }})</p>
    {% endfor %}
  {% else %}
    <h1><p class="text-danger text-center">Your cart is empty.</p></h1>
  {% endif %}

  <hr>
  {% if total_price != 0 %}
    <p>Items: ${{ total_price }}</p>
    <p>Shipping: FREE</p>
    <p>Tax: ${{ tax }}</p>
    <p>Total: ${{ total_price_with_tax }}</p>
  {% endif %}

  {% if owned_books %}
    <a href="{% url 'checkout' user.profile.pk %}" class="btn btn-success" role="button">Checkout</a> 
  {% endif %}
  
{% endblock %}
