{% extends "base_generic.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Author List</h1>
  </div>

  {% if perms.can_add_author %}
    <a class="btn btn-success" href={% url 'author_create' %} role="button">Add Author</a>
    <hr>
  {% endif %}

     <form action="" method="get" class="form-inline">
       <input id="keyword" type="text" style="width:300px; height:35px;" name="keyword" placeholder="Search Authors">
       <input class="btn btn-success" type="submit" value="Search Authors">
       <a class="btn btn-primary" href="{%url 'authors' %}">Clear search</a>
     </form>
    <hr>
    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <h4><a href="{{ author.get_absolute_url }}">{{ author.first_name }}&nbsp;{{ author.last_name }}</h4>
        {% for book in author.book_set.all %}
          <dt><a href="{% url 'book-detail' book.pk %}">{{ book }}</a> ({{ book.bookinstance_set.all.count}})</dt>
        {% endfor %}
        <hr>


        {% if author.date_of_birth %}
            ({{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }}{% endif %})
        {% endif %}
        </a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no Authors in the database.</p>
    {% endif %}       
{% endblock %}
