{% extends "base_generic.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Book List</h1>
  </div>

  {% if perms.can_add_book %}
    <a class="btn btn-success" href="{% url 'book_create' %}" role="button">Add Book</a>
    <hr>
  {% endif %}

    <form action="" method="get" class="form-inline">
      <input id="keyword" type="text" name="keyword" placeholder="Search">
      <input type="submit" value="Search">
      <a class="btn btn-primary" href="{%url 'books' %}">Clear search</a>
    </form>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}
