{% extends "base_generic.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Book List</h1>
  </div>

  {% if perms.can_add_book %}
    <a class="btn btn-success" href="{% url 'book_create' %}" role="button">Add Book</a>
    <hr>
  {% endif %}

    <form action="" method="get" class="form-inline">
      <input id="keyword" style="width: 300px; height:35px;" type="text" name="keyword" placeholder="Search Books">
      <input class="btn btn-success" type="submit" value="Search Books">
      <a class="btn btn-primary" href="{% url 'books' %}">Clear search</a>
    </form>
    <hr>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <h4><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
        <p>Author(s): {% for author in book.author.all %} {{ author }}{% if not forloop.last %} |{% endif%}{% endfor %}</p>
        {% if book.summary %}
        <p>Summary: {{ book.summary }}</p>
        {% else %}
        <p>Summary: N/A</p>
        {% endif %}
        <hr>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}
